.header div {	
	width:100%;
	height: 35px;
	background-color: grey;
}

.pure-menu-list{
	float: right;
}

.pure-menu-item a{
	color: blue;	
}

.pure-menu-selected a{
	 color: white !important;	
	
}


.pure-menu-heading{
	color: white;	
}

.splash{
	text-align: center;	
}

.splash-head{
	color: white;
	border: 5px solid white; 
	padding: 25px;
	font-size: 72px;
}

.splash-container{
	background-color: #3095C8;
	padding: 250px;	
}

.splash-subhead{
	color: white;
}

.pure-button.pure-button-primary{
	background-color: white;
	color: #3095C8;
}

.is-center{
	text-align: center;
}

.content-head{
	margin: 50px;
}

.pure-u-1{
	width: 22%;
	padding: 10px;
}

.content-subhead{
	color:blue;
}

.content-subhead i{
	margin-right: 5px;
}

.pure-g{
	margin-bottom: 40px;
}

.ribbon{
	background-color: grey;
}

.pure-u-lg-2-5{
	margin:100px;
}

.content-head-ribbon{
	margin-top: 100px;
	margin-bottom: 10px;
	width:400px;
	color: white;
}

.pure-u-lg-3-5 p{
	margin-left: 50px;
	color:whitesmoke;
	width: 750px;
	
}

.pure-u-md-2-5{
	margin-right: 250px;
}

.pure-button{
	color: white;
	background-color: #3095C8;
}

.pure-u-md-3-5{
	width:750px;
}

input{
	margin-right: 500px;
	width: 500px;
}

.footer.l-box{
	width: 100%;
	height: 45px;
	color: grey;
	background-color: black;
	position: fixed;
	bottom: 0px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

