.header div {	
	width:100%;
	height: 35px;
	background-color: grey;
}

.pure-menu-list{
	float: right;
}

.pure-menu-item a{
	color: blue;	
}

.pure-menu-selected a{
	 color: white !important;	
}
.pure-menu-heading{
	color: white;	
}

.splash{
	text-align: center;	
}

.splash-head{
	color: white;
	border: 5px solid white; 
	padding: 25px;
	font-size: 72px;
}

.splash-container{
	background-color: #3095C8;
	padding: 250px;	
}

.splash-subhead{
	color: white;
}

.pure-button.pure-button-primary{
	background-color: white;
	color: #3095C8;
}